html,
body {
  padding: 0;
  margin: 0;
  font-family: "Niramit", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000;
  color: #fff !important;
  background-color: #000;
  padding-left: 28px;
  padding-right: 28px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  position: sticky;
}
header nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 70px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.header_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 94%;
}

.header_items {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  list-style-type: none;
  margin-left: 40px;
  flex: 1;
}

.header_functional {
  display: flex;
  align-items: center;
}

.header_search {
  flex: 2 1;
  display: flex;
  width: 100%;
  align-items: center;
}

.search_img {
  display: none;
}

.header_links {
  text-decoration: none;
  font-family: "Niramit", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000;
}

.search {
  border-radius: 15px;
  background-color: #f0f0f0;
  max-width: 400px;
  flex: 1 0 0;
  padding: 11px 22px;
  border: none;
  outline: none;
  margin: 0 40px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.search::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #a1a1a1;
}
.search::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #a1a1a1;
}

.number {
  font-family: "Niramit", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

.basket {
  background-image: url(../img/icons/shopping-cart.svg);
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin-left: 40px;
}

.basket_count {
  position: absolute;
  right: -3px;
  bottom: -3px;
  padding: 2px 5px;
  background: #3D3D3D;
  color: #fff;
  border-radius: 50%;
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.search_items {
  position: absolute;
  left: 44%;
  padding: 6px;
  border-radius: 10px;
  width: 422px;
  height: 281px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  display: none;
  flex-direction: column;
  -moz-column-gap: 6px;
       column-gap: 6px;
  overflow-y: scroll;
}
.search_items.active {
  display: flex;
}
.search_items::-webkit-scrollbar-thumb {
  border-radius: 50px;
  width: 10px;
  background-color: #000;
  background-clip: content-box;
  max-height: 10px;
  border: 4px solid transparent;
}
.search_items::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}
.search_items::-webkit-scrollbar {
  width: 16px;
  padding-right: 17px;
  border-radius: 20px;
  z-index: 1;
}

span {
  text-align: center;
}

.search_item {
  cursor: pointer;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
}

.search_picture {
  padding: 3px;
  padding-right: 10px;
  border-radius: 4px;
  height: 100%;
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.search_block_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1 1 0;
  height: inherit;
}

.search_title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.search_price {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.53);
}

.search_addBasket {
  width: 35px;
  height: 35px;
  padding-right: 10px;
}

.card_items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.card_item {
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.card_img {
  margin: 5px;
  border-radius: 4px;
  background-size: cover;
  height: 281px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000;
  margin: 0 14px;
  margin-top: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #181818;
  margin-top: 80px;
  margin-bottom: 40px;
}
.title.center {
  text-align: center;
}

.card_arct {
  font-weight: 400;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.63);
  margin-top: 12px;
  margin-bottom: 16px;
  margin-left: 14px;
}

.card_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-left: 14px;
  margin-right: 8px;
  padding-bottom: 16px;
}

.card_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.addCard {
  background-image: url(../img/icons/free-icon-remove-from-cart-4379564\ 1.svg);
  background-size: contain;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.banner {
  margin-top: 24px;
  background-image: url(../img/f-1.jpg);
  background-repeat: no-repeat;
  height: 397px;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  height: 512px;
  justify-content: space-between;
  margin-top: 50px;
  padding: 55px 24px;
  position: relative;
  z-index: 0;
}
.banner::after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  content: "";
  inset: 0;
  position: absolute;
}

.main_title {
  margin-top: 100px;
  margin-left: 52px;
  font-weight: 700;
  font-size: 58px;
  letter-spacing: 0.02em;
  color: #fff;
  z-index: 1;
}

.category_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 74px);
  gap: 30px;
  margin: 0 65px;
}

.category_item {
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  overflow-wrap: anywhere;
  padding-right: 6px;
}

.category_img_theme {
  margin: 4px;
  width: 64px;
  height: 64px;
  border-radius: 7px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  flex: none;
}

.category_title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #181818;
}

.support_calls {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin: 0 65px;
  border-radius: 10px;
  padding: 0 70px;
}

.support_title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #181818;
  color: #fff !important;
  margin-top: 32px;
}

.support_text {
  font-family: "Niramit", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 36px;
}

.support {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.support input {
  border-radius: 34px;
  background-color: #f0f0f0;
  width: 300px;
  height: 47px;
  padding: 0 30px;
}
.support input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #A6B0B9;
}
.support input::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #A6B0B9;
}

.support_subtext {
  align-self: flex-start;
  max-width: 640px;
  margin: 18px 65px 26px;
  opacity: 0.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-align: left;
}

.burger {
  display: block;
  cursor: pointer;
  width: 70px;
  height: 100%;
}
.burger input {
  display: none;
}
.burger path {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.burger circle {
  fill: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: 0.1s linear;
}
.burger .cross input:checked + svg .line--1,
.burger .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}
.burger .cross input:checked + svg .line--2 {
  --length: 0;
}
.burger .debug {
  display: none;
}

.accordion_card {
  display: flex;
  row-gap: 30px;
}

.accordion_title {
  color: #2a2a2a;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #181818;
  position: relative;
  height: 50px;
  transition: 0.3s linear;
}
.accordion_title::before {
  content: url(../img/icons/left_arrow.svg);
  position: absolute;
  right: 20px;
  display: block;
  transform: rotate(90deg);
  transition: transform 0.7s ease;
}
.accordion_title.active {
  height: auto;
}
.accordion_title.active::before {
  transform: rotate(0deg);
}

.accordion_main {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.accordion_content {
  margin: 0 auto;
  cursor: pointer;
}
.accordion_content hr {
  height: 1px;
  width: 100%;
  background: transparent;
  transition: 0.6s linear;
}
.accordion_content.active .accordion_descript {
  opacity: 1;
  padding: 20px 8px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000;
  height: auto;
}
.accordion_content.active hr {
  background: rgba(94, 94, 94, 0.5215686275);
  margin-bottom: 30px;
}

.accordion_descript {
  opacity: 0;
  height: 0;
  max-width: 757px;
  color: #5e5e5e;
  transition: 0.4s linear;
}

footer {
  display: block;
  background-color: #000;
  padding-top: 85px;
  padding-bottom: 65px;
  color: #fff;
}

.footer_main {
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_copyright_text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  font-size: 14px;
  color: #fff;
  margin-top: 40px;
}

.footer_pages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.footer_title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.footer_text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  cursor: pointer;
  color: #fff;
}

.footer_market {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.footer_buyers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_contacts .footer_title {
  margin-bottom: 32px;
}
.footer_contacts .number {
  margin-top: 36px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.footer_link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  color: #fff;
  font-size: 14px;
}

.menu--3 {
  display: none;
}
.menu--3 .line--1,
.menu--3 .line--3 {
  --total-length: 126.38166809082031;
}
.menu--3 .line--2 {
  --total-length: 80;
}
.menu--3 input:checked + svg .line--1,
.menu--3 input:checked + svg .line--3 {
  --offset: -109.1770175568;
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
  --length: 8.602325267;
}

/* CURRENT_CARD */
.current_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 120px 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.current_card_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  row-gap: 20px;
}

.main_img {
  width: 525px;
  height: 598px;
  -o-object-fit: cover;
     object-fit: cover;
}

.current_carusel {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 157px;
  overflow: hidden;
  margin: 0 48px;
}

.current_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.current_card_right {
  display: flex;
  flex-direction: column;
}
.current_card_right .btn {
  margin: 0;
  margin-top: 40px;
}

.current_block_column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.current_title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #181818;
}

.current_articul {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.02em;
  color: #000;
}

.sale {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 0.02em;
  background: #FFE37E;
  border-radius: 2px;
  margin-bottom: 16px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 6px;
  white-space: nowrap;
}

.current_price {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000;
  margin-bottom: 10px;
}

.current_clue {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.02em;
  width: 50%;
  margin-left: 32px;
  position: relative;
}
.current_clue::before {
  content: "";
  background-image: url(../img/icons/clock-ic\ 1.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: -32px;
  background-size: cover;
}

.current_chapter {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: space-between;
  margin-bottom: 34px;
}

.current_text {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #181818;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.current_text.active {
  border-bottom: 2px solid #000;
}

.current_descript {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 70px;
}

.current_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current_info {
  margin: 0 80px;
  margin-bottom: 20px;
  text-align: center;
}

.current_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 240px;
  flex: 1 1 0;
}

.current_link {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #181818;
  text-decoration: none;
  border: 1px solid #000;
  height: 40px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

/*current_card */
/*basket_block*/
.basket_block {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.basket_items {
  display: flex;
  flex-basis: 80%;
}

.basket_item {
  display: flex;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 10px;
  height: 275px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex: 1;
}

.basket_picture {
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.basket_item_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-right: 10px;
}

.basket_block_column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}

.basket_block_title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #181818;
}

.basket_articul {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.basket_functional {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.decrement,
.increment {
  border: 1px solid var(--Title, #3d3d3d);
  border-radius: 7px;
  height: 28px;
  opacity: 0.4;
  width: 28px;
}

.bakset_item_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.price {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.deleted {
  width: 30px;
  height: 30px;
}

.basket_info_block {
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.basket_info_block .btn {
  align-self: center;
  margin-top: 20px;
  margin: 0 auto;
}

.basket_info_title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #181818;
  color: #3d3d3d;
}

.basket_info_text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.3490196078);
  margin-top: 30px;
  margin-bottom: 18px;
}

.basket_info_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.result {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #181818;
  color: #3d3d3d;
}

.all_price {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #181818;
  color: #3d3d3d;
}

.basket_info_polity {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-bottom: 14px;
  margin-top: 30px;
  position: relative;
  margin-left: 32px;
}
.basket_info_polity::before {
  content: url(../img/icons/left_arrow.svg);
  display: block;
  position: absolute;
  left: -32px;
  top: -6px;
  transform: rotate(90deg);
}

/*basket_block*/
@media (max-width: 1160px) {
  .current_carusel {
    margin: 0;
  }
  .basket_block_column {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
  }
  .footer_main {
    flex-direction: column;
    row-gap: 60px;
  }
  .footer_pages {
    justify-content: space-evenly;
  }
}
@media (max-width: 1000px) {
  .title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #181818;
  }
  .number {
    display: none;
  }
  .basket {
    margin-left: 0;
  }
  .category_title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #181818;
  }
  .category_items {
    margin: 0;
  }
  .card_items {
    grid-template-columns: repeat(3, 1fr);
  }
  .btn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #000;
  }
  .support_calls {
    margin: 0;
  }
  .support {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .support_title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #181818;
  }
  .support_subtext {
    margin: 20px 0px 26px;
    font-size: 12px;
  }
  .current_card {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .current_chapter {
    justify-content: space-evenly;
  }
  .basket_block {
    flex-direction: column;
    row-gap: 32px;
  }
  .basket_info_block {
    align-self: center;
  }
}
@media (max-width: 770px) {
  .container {
    max-width: 100%;
    margin: 0 12px;
  }
  .menu--3 {
    display: block;
  }
  .logo {
    margin-top: 12px;
    align-self: flex-start;
    flex: 1 1;
  }
  .header_container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    row-gap: 32px;
    background: #fff;
    height: 100vh;
    left: 50%;
    padding: 40px 40px 100px;
    position: absolute;
    row-gap: 30px;
    top: 70px;
    transform: translateX(-50%);
    transform: translateX(-150%);
    transition: 0.4s linear;
    width: calc(100% + 64px);
    z-index: 9999;
  }
  .header_container.active {
    transform: translateX(-50%);
  }
  .header_functional .number, .header_functional .basket {
    display: none;
  }
  .header_items {
    flex-direction: column;
    row-gap: 32px;
    width: 100%;
    background: #fff;
    margin: 0;
  }
  .search_img {
    display: block;
  }
  .search {
    display: none;
  }
  .number {
    display: block;
  }
  .category_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_main {
    flex-direction: column-reverse;
    row-gap: 60px;
  }
  .footer_copyright .logo {
    align-self: center;
  }
  .footer_info {
    align-items: center;
  }
  .footer_market {
    align-items: center;
  }
  .footer_buyers {
    align-items: center;
  }
  .footer_pages {
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
  .basket_item {
    height: 225px;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .basket_block_column {
    margin-top: 18px;
  }
  .bakset_item_bottom {
    margin-bottom: 14px;
  }
}
@media (max-width: 565px) {
  .category_items {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .card_items {
    gap: 10px;
  }
  .card_img {
    height: 201px;
  }
  .support_calls {
    margin: 0 -12px;
    border-radius: 0;
  }
  .current_card {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .current_card_left {
    row-gap: 12px;
  }
  .current_carusel {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .main_img {
    height: 388px;
    width: 100%;
  }
  .current_clue {
    width: 70%;
  }
  .current_chapter {
    margin-top: 40px;
    margin-bottom: 16px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.none {
  display: none;
}